﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RevolutionAi</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="container body-content">
        <!-- Navigation bar -->
        <div>
            <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary ">
                <div class="container">
                    <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarResponsive" data-toggle="collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav"> <!--mr-auto class broke text input-->
                            <li class="nav-item" id="userLogin">
                                <!--User login info icon/name-->
                                <a class="navbar-brand" href="#">Login</a>
                            </li>
                            <li class="nav-item" id="userLogout" style="display:none">
                                <!-- User Logout link -->
                                <a class="navbar-brand" href="#">Logout</a>
                            </li>
                        </ul>
                        <!-- Text input -->
                        <div class="form-inline" id="remitextinputform" style="float:left; clear:both; padding-left:20px;">
                            <input type="text" class="form-control" placeholder="What can I do for you?" id="remitextinput" />
                            <button id="submitremitextinput" class="btn btn-primary">Send</button>
                        </div>
                        <!-- Settings dropdown -->
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Settings
                                </a>
                                <span class="caret"></span>
                                <div class="dropdown-menu dropdown-menu-right" id="settingsMenuDropdown" aria-labelledby="navbarDropdownMenuLink">
                                    <!--Settings Div-->

                                    <div class="form" id="settingsDiv">
                                        <div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="toggletextinput" id="checktextin" checked="checked" />
                                                <label class="form-check-label" for="checktextin">Enable text-input</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="toggletextoutput" id="checktextout" checked="checked" />
                                                <label class="form-check-label" for="checktextout">Enable text-output</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" name="muteVoiceOutput" id="checkVoiceOut" />
                                                <label class="form-check-label" for="checkVoiceOut">Disable Voice Output</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!--End of settings div-->
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Help
                                </a>
                                <span class="caret"></span>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#helpModal" href="#">Help</a>
                                    <a class="dropdown-item" data-toggle="modal" data-target="#micModal" href="#">Configure my Microphone</a>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p float="left">&copy; @DateTime.Now.Year - RevolutionAi</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("PageScripts", required: false)
</body>
</html>