﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Session>
@{
    ViewBag.Title = "Athlete Sessions";
}

<h2>Athlete Sessions (P) - @ViewBag.AthleteName</h2>
<hr />

<h4>Attendence</h4>
<p>An athlete is expected to train 5 days out of the 7 day week!</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Training Date</th>
            <th>Training Time</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            <tr>
                <td>@session.TrainingDate.ToShortDateString()</td>
                <td>@session.TrainingTime</td>
            </tr>
        }
    </tbody>
</table>
<br />
<hr />

<h4>Performance</h4>
<p>Red - Heart Rate too high <br /> Yellow - Heart Rate too low <br /> Green - Heart Rate at target pace</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Training Date</th>
            <th>Heart Rate</th>
            <th>Distance(mi)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var session in Model)
        {
            <tr>
                <td>@session.TrainingDate.ToShortDateString()</td>
                @if (session.HeartRate >= 160)
                {
                    <td class="table-danger">@session.HeartRate</td>
                }
                else if (session.HeartRate >= 148)
                {
                    <td class="table-success">@session.HeartRate</td>
                }
                else
                {
                    <td class="table-warning">@session.HeartRate</td>
                }
                <td>@session.Distance</td>
            </tr>

        }
    </tbody>
</table>
<br />
<hr />
<div class="text-center">
    <p>
        Once using real GPS data, and have a sample size of at no less than three FIT files for a single athlete, place a google map here with the route info layered on top. <br />
        Also, routes could be selectable by run date and time so that parents can keep track of where their athletes are running at a given day and time.
    </p>
    <img src="~/Assets/googleMaps.jpg" alt="Map Broken">
</div>
