﻿
@{
    ViewBag.Title = "Upload";
}

<h2>Upload .FIT Session File</h2>
<br />
@using (Html.BeginForm("Index", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "file", accept = ".fit", onclick = "onChangeFile();" })
        <br /><br />
        <input type="submit" value="Upload" />
    </div>
    <br />
    <div id="messageOutput">
        <h3>@ViewBag.Message</h3>
    </div>
}

<script>
    function onChangeFile()
    {
        document.getElementById("messageOutput").innerHTML = '';
    }
</script>