﻿<div class="modal fade" id="editUserProfile" tabindex="-1" role="dialog" aria-labelledby="editUserProfile" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User Profile</h5>
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="editData"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" id="editProfileCancelButton">Cancel</button>
                <button class="btn btn-primary" type="button" id="submitChangesButton">Submit</button>
            </div>
        </div>
    </div>
</div>