﻿@*Partial view for holding the help information.*@

<!--Modal for the FAQ-->
<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!--Accordion list of FAQs-->
                <!--Accordion isn't auto-collapsing. I blame Bootstrap 4-->
                <div id="accordion" role="tablist" aria-multiselectable="true">

                    <!--Question 1-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    What is Remi?
                                </a>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="card-block" style="padding:10px;">
                                Remi is a conversational AI interface to help your day run a little more smoothly. She is currently being developed as part of a senior project at Western Oregon University.
                            </div>
                        </div>
                    </div>

                    <!--Question 2-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How do I talk to Remi?</a>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                You can talk to Remi by either typing a command into the textbox located at the top of the site or by clicking the 'Push to Talk' button once and speaking.
                                Remi will notice when you stop talking and process your voice command.
                            </div>
                        </div>
                    </div>

                    <!--Question 3-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How do I set up my microphone?
                                </a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseThree" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                Your browser should automatically ask you for permission to use your microphone. If you need to set up your microphone on your computer, try these links:<br />
                                <ul>
                                    <li><a href="https://support.microsoft.com/en-us/help/4027981/windows-how-to-set-up-and-test-microphones-in-windows-10">Windows 10</a></li>
                                    <li><a href="https://www.wikihow.com/Set-Up-a-Mic-in-Windows-8">Windows 8</a></li>
                                    <li><a href="https://www.wikihow.com/Activate-a-Microphone-on-Mac">Mac</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!--Question 4-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What do all those buttons do?</a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseFour" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                'Login': Press this button to log into your own personal account. Remi is shy and she won't talk to you if she doesn't know who you are.<br />
                                'Send': After typing a command, press this button to send the command to Remi to be processed.<br /><br />
                                'Settings': Here you will find a collection of settings to customize how Remi interatcts with you.<br /><br />
                                'Help': Here you will find a collection of help documentation to guide you to speaking with Remi.<br /><br />
                                '[My Username]': Click here once you have logged in to view and edit your profile settings.
                            </div>
                        </div>
                    </div>

                    <!--Question 5-->
                    <div class="card">
                        <div class="card-header" role="tab" id="hedingFive">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">How do I setup my calendar?</a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseFive" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                1. Navigate to https://calendar.google.com/ <br />
                                2. If not signed in to the desired account do so <br />
                                3. Click the "+" symbol above "My calendars" on the left <br />
                                4. click new calendar <br />
                                5. enter the info for the calendar and click "Create Calendar" <br />
                                6. select the created calendar in your list of calendars <br />
                                7. click Access Permissions (left navbar) <br />
                                8. check the box for "Make available to public" <br />
                                9. click "Integrate calendar" (left navbar) <br />
                                10. Find the field labeled "Calendar ID" <br />
                                11. Copy the whole string <br />
                                12. Paste the Calendar ID string into the appropriate field when you create
                                your new account. <br />
                            </div>
                        </div>
                    </div>

                    <!--Question 6-->
                    <div class="card">
                        <div class="card-header" role="tab" id="hedingSix">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseFour">What are some things that I can say to Remi?</a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseSix" role="tabpanel">
                            <div class="card-block" style="padding:10px;">
                                1. "What is the weather" (gets your currently set home location's weather) <br />
                                2. "what is the weather in [City], [State]" (US Only!) <br />
                                3. "Show me my Agenda" <br />
                                4. "Show me my calendar" <br />
                                5. "Show my calendar for [Last/Next week/Month]" <br />
                                6. "Define [Word]" <br />
                                7. "Hello" <br />
                                8. "Tell me a Joke" <br />
                                9. "Search for [Something]" <br />
                                10. "Coffee at [zip-code]" <br />
                                11. "What is [Subject]" <br />
                            </div>
                        </div>
                    </div>

                    <!--Question 7-->
                    <div class="card">
                        <div class="card-header" role="tab" id="headingSeven">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseFive">Who made Remi?</a>
                            </h5>
                        </div>

                        <div class="collapse" id="collapseSeven" role="tabpanel">
                            <div class="card-block" style="padding:10px;">Remi is being developed by four students at Western Oregon University for a senior capstone project: Jake Hatfield, Abby Horner, Stephen Oliver, and Devon Smith.</div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
