﻿<div class="modal fade" id="micModal" tabindex="-1" role="dialog" aria-labelledby="helpModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h5 class="modal-title">Microphone Configuration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">

                All our information is for Windows 10. For Windows 8, try <a href="https://www.wikihow.com/Set-Up-a-Mic-in-Windows-8">here</a>. For Mac OSx, try <a href="https://www.wikihow.com/Activate-a-Microphone-on-Mac">this link</a>.<br /><br />
                <!--Step-by-step-->
                To set up your microphone on Windows 10:
                <ol>
                    <li>In your taskbar, right click on the <strong>volume</strong> icon and select <strong>recording devices</strong></li>
                    <li>Make sure you are on the recording tab. Select the microphone you wish to use and in the bottom left of the window, click <strong>Configure</strong></li>
                    <li>In the Speech Recognition window, click on <strong>Set up microphone</strong></li>
                    <li>Windows will now walk you through the setup wizard. Simply follow the instructions!</li>
                </ol>
                <!--Extras-->
                <h5>Not what you're looking for?</h5>
                <!--Video-->
                <a data-toggle="collapse" data-target="#vid" href="#vid">Show me a video!</a><br />
                <div id="vid" class="collapse"><br /><iframe width="640" height="360" src="https://www.youtube.com/embed/6Kz3PdVcn1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen style="margin:auto auto; display: block;"></iframe></div><br />
                <!--Levels-->
                <button data-toggle="collapse" data-target="#levels" onclick="micCheck()" class="btn btn-primary">Is my microphone working?</button><br /><br />
                <div id="levels" class="collapse"></div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
