﻿
@{
    ViewBag.Title = "Remi";
}

<!-- Container for the main body content. -->
<div class="container-body">
    <div class="text-center">
        <canvas id="canvas"></canvas>
    </div>
    <div id='btns'>
        <button class="btn btn-default" id='record'>Push to Talk</button>
    </div>
    <div>
        <!-- div for displaying audio files. added for testing -->
        <ul class="list-unstyled" id='ul'></ul>
    </div>
    <!-- Control bar => Text In/Out Controls  -->
    <div id="fillerPane" style="display:block">
        <!--This is where the JavaScript will show results-->
    </div>
</div>

@Html.Partial("~/Views/Home/_Help.cshtml")
@Html.Partial("~/Views/Home/_MicrophoneHelp.cshtml")
@Html.Partial("~/Views/Home/_CanvasOverlay.cshtml")
@Html.Partial("~/Views/Home/_CreateAccount.cshtml")
@Html.Partial("~/Views/Home/_Login.cshtml")
@Html.Partial("~/Views/Home/_LogoutConfirmation.cshtml")
@Html.Partial("~/Views/Home/_UserProfile.cshtml")
@Html.Partial("~/Views/Home/_EditProfile.cshtml")

@*This is a test putput five for use with Selenium since Selenium can't read the Canvas data.*@
<div id="entityTestOutput" style="display: none;"></div>

@*JavaScript files go here!*@
@section PageScripts{
    <script src="~/Scripts/Remi/speechToText.js"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="~/Scripts/Remi/microphone.js"></script>
    <script src="~/Scripts/Remi/user.js"></script>
    <script src="~/Scripts/Remi/controlPanel.js"></script>
    <script src="~/Scripts/Remi/google-calendar.js"></script>
    <script src="~/Scripts/Remi/speech.js"></script>
    <script src="~/Scripts/Remi/weather.js"></script>
    <script src="~/Scripts/Remi/dictionary.js"></script>
}