﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Athlete>

@{
    ViewBag.Title = "Athlete Login";
}

<h2>Login</h2>

<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>

        </th>
    </tr>
    @foreach (var athlete in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => athlete.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => athlete.LastName)
            </td>
            <td>
                @Html.ActionLink("Login", "AthleteDetails", "Athletes", new { id = athlete.AthleteID }, null)
            </td>
        </tr>
    }
</table>

