﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Cross Country Tracker</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        @Html.ActionLink("Cross Country Tracker", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" aria-expanded="false" aria-controls="navbarColor01" aria-label="Toggle navigation" type="button" data-target="#navbarColor01" data-toggle="collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="admin" href="#" data-toggle="dropdown">Admin<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="admin">
                        @Html.ActionLink("Devices", "Index", "Devices", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="coach" href="#" data-toggle="dropdown">Coach<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="coach">
                        @Html.ActionLink("Devices", "CoachDevices", "Devices", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Athletes", "Index", "Athletes", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Sessions", "Index", "Session", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="athlete" href="#" data-toggle="dropdown">Athlete<span class="caret"></span></a>
                    <div class="dropdown-menu" aria-labelledby="athlete">
                        @Html.ActionLink("Login", "Login", "Athletes", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Upload a Session", "Index", "Upload", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Parent", "Index", "Parents", null, new { @class = "nav-link" })
                </li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cross Country Tracker</p>
        </footer>
    </div>


    @*Long running scripts load last *@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*Optional section that laods some sections from other page. *@
    @RenderSection("PageScripts", required: false)
</body>
</html>