﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Device>
@{
    ViewBag.Title = "Devices";
}
<div class="modal-header">
    <h2>My Team's Devices</h2>
</div>

<table class="table table-hover">
    <thead class="table-primary">
        <tr>
            <th>#</th>
            <th>Serial Number</th>
            <th>Manufacturer</th>
            <th>Description</th>
            <th>Device Damaged</th>
            <th>Assigned To</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@((item.Damaged) ? "table-danger" : (item.Athlete == null) ? "table-success" : "table-default")">
                <th scope="row">@item.DeviceID</th>
                <td>@item.SerialNumber</td>
                <td>@item.Manufacturer</td>
                <td>@item.Description</td>
                <td>@((item.Damaged) ? "Yes" : "No")</td>
                <td>@((item.Athlete == null) ? "Availiable" : (item.Athlete.FirstName + " " + item.Athlete.LastName))</td>
                <td>@Html.ActionLink("Edit", "CoachDevicesEdit", new { id = item.DeviceID })</td>
            </tr>
        }
    </tbody>
</table>