﻿@model IEnumerable<CS461_M3_Cross_Country.DAL.Device>

@{
    ViewBag.Title = "Device List";
}

<h2>Device List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr class="table-primary">
        <th>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Damaged)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="@((item.Damaged)? "table-danger": (item.Athlete == null)? "table-success" : "table-default")">
        <td>
            @*Html.DisplayFor(modelItem => item.Athlete.FirstName)*@
            @((item.Athlete == null)? "Available" : item.Athlete.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseDate)
        </td>
        <td>
            @((item.Damaged)? "Yes" : "No")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DeviceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DeviceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DeviceID })
        </td>
    </tr>
}
</table>
